@model BrnShop.Web.Admin.Models.EventModel
           
@section header{
    <title>编辑事件</title>
    <link type="text/css" rel="stylesheet" href="/administration/content/css/site.css"/>
    <script type="text/javascript" src="/administration/scripts/jquery.js"></script>
    <script type="text/javascript" src="/administration/scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="/administration/scripts/jquery.validate.unobtrusive.js"></script>
}

@section body{
<h1 class="rightH1">
开发人员 &gt;&gt; 编辑事件
<div class="right">
<a href="@Html.Raw(ViewData["referer"].ToString())" class="menuBT"><img src="/administration/content/images/goback.jpg"/>返回列表</a>
<div class="clear"></div>
</div>
<div class="clear"></div>
</h1>

@using (Html.BeginForm())
{
<div class="addTable">
<table width="100%">

  <tr>
    <td width="86px" align="right">唯一键：</td>
    <td>@Html.TextBoxFor(x => x.Key, new { @class = "input", size = "35",disabled="disabled" })@Html.ValidationMessageFor(x => x.Key)</td>
    </tr>

          <tr>
    <td align="right">事件标题：</td>
    <td>@Html.TextBoxFor(x => x.Title, new { @class = "input", size = "35" })@Html.ValidationMessageFor(x => x.Title)</td>
    </tr>

        <tr>
                    <td align="right">
                        时间类型：
                    </td>
                    <td>
                        <p>
                            <label>@Html.RadioButtonFor(x => x.TimeType, 0, new { @class = "checkbox" })特定时间</label>
                            <label>@Html.RadioButtonFor(x => x.TimeType, 1, new { @class = "checkbox" })时间间隔</label>
                            <br />
                        </p>
                    </td>
                </tr>

          <tr>
    <td align="right">时间：</td>
    <td>@Html.TextBoxFor(x => x.TimeValue, new { @class = "input", size = "35" })@Html.ValidationMessageFor(x => x.TimeValue)</td>
    </tr>

        <tr>
            <td align="right">
                类名：
            </td>
            <td>@Html.TextBoxFor(x => x.ClassName, new { @class = "input", size = "70" })@Html.ValidationMessageFor(x => x.ClassName)</td>
        </tr>

    <tr>
    <td align="right">代码：</td>
    <td>@Html.TextBoxFor(x => x.Code, new { @class = "input", size = "70" })@Html.ValidationMessageFor(x => x.Code)</td>
    </tr>

    <tr>
                    <td align="right">
                        状态：
                    </td>
                    <td>
                        <p>
                            <label>@Html.RadioButtonFor(x => x.Enabled, 0, new { @class = "checkbox" })关闭</label>
                            <label>@Html.RadioButtonFor(x => x.Enabled, 1, new { @class = "checkbox" })启动</label>
                            <br />
                        </p>
                    </td>
                </tr>

  <tr>
    <td align="right">&nbsp;</td>
    <td>
    <a href="" class="addBt" id="sumbitBut" ><img src="/administration/content/images/submit.jpg" /></a>
            <script type="text/javascript">
                $(function () {
                    $("#sumbitBut").click(function () {
                        $("form:first").submit();
                        return false;
                    })
                });
        </script>
    </td>
    </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td>&nbsp;</td>
    </tr>
</table>
</div>
}
}