@model BrnShop.Web.Admin.Models.AttributeGroupModel
           
@section header{
    <title>添加属性分组</title>
    <link type="text/css" rel="stylesheet" href="/administration/content/css/site.css"/>
    <script type="text/javascript" src="/administration/scripts/jquery.js"></script>
    <script type="text/javascript" src="/administration/scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="/administration/scripts/jquery.validate.unobtrusive.js"></script>
}
@section body{
    <h1 class="rightH1">
        分组管理 &gt;&gt; 添加分组
        <div class="right">
            <a href="@Html.Raw(ViewData["referer"].ToString())" class="menuBT">
                <img src="/administration/content/images/goback.jpg" />返回列表</a>
            <div class="clear">
            </div>
        </div>
        <div class="clear">
        </div>
    </h1>
            @using (Html.BeginForm())
        {
    <div class="addTable">

            <table width="100%">
                            <tr>
                    <td width="76px" align="right">
                        所属分类：
                    </td>
                    <td>
                    <input type="hidden" name="CateId" value="@ViewData["cateId"]" />
                    <input type="text" name="CategoryName" disabled="disabled" size = "35" class = "input" value="@ViewData["categoryName"]" />
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        分组名称：
                    </td>
                    <td>@Html.TextBoxFor(x => x.AttributeGroupName, new { @class = "input", size = "35" })@Html.ValidationMessageFor(x => x.AttributeGroupName)
                    </td>
                </tr>

                <tr>
                    <td align="right">
                        排序：
                    </td>
                    <td>@Html.TextBoxFor(x => x.DisplayOrder, new { @class = "input", size = "3" })@Html.ValidationMessageFor(x => x.DisplayOrder)
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        &nbsp;
                    </td>
                    <td>
                        <a href="" class="addBt" id="sumbitBut">
                            <img src="/administration/content/images/submit.jpg" /></a>
                        <script type="text/javascript">
                            $(function () {
                                $("#sumbitBut").click(function () {
                                    $("form:first").submit();
                                    return false;
                                })
                            });
                        </script>
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        &nbsp;
                    </td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            </table>
    </div>
}
        }
