@model BrnShop.Web.Admin.Models.OrderRefundListModel

@section header{
<title>订单退款列表</title>
<link type="text/css" rel="stylesheet" href="/administration/content/css/site.css"/>
<script type="text/javascript" src="/administration/scripts/jquery.js"></script>
<script type="text/javascript" src="/administration/scripts/showlist.js"></script>
}

@section body{
<h1 class="rightH1">
订单管理 &gt;&gt; 退款列表
<div class="right">
<div class="clear"></div>
</div>
<div class="clear"></div>
</h1>
@using (Html.BeginForm("refundlist", "order"))
{
<div class="dataListSearch">
<table height="32">
        <tbody>
        <tr>
        <td width="35"><img id="searchImg" src="/administration/content/images/search1.gif"/></td>
        <td>订单编号：</td>
        <td width="130">
          	@Html.TextBox("OSN", Model.OSN, new { height = "18" })
        </td>
       <td>
       <input id="Search" name="Search" type="image" class="searchBut submit" src="/administration/content/images/s.jpg" />
       </td>
      </tr>
     </tbody></table>
</div>

<div class="dataList">
<table width="100%">
<thead>
  <tr>
    <th width="10" align="center"></th>
    <th width="150" align="left" >订单编号</th>
    <th width="100" align="left" >支付金额</th>
    <th width="100" align="left" >退款金额</th>
    <th width="150" align="left" >支付单号</th>
    <th width="130" align="left" >支付方式</th>
    <th align="left" >退款单号</th>
    <th width="130" align="left" >退款方式</th>
    <th width="130" align="left" >申请时间</th>
    <th width="120" align="left" >退款时间</th>
    </tr>
</thead>
  <tbody>
  @foreach (OrderRefundInfo info in Model.OrderRefundList)
  {
  <tr>
    <td></td>
    <td>@info.OSN</td>
    <td>@info.PayMoney</td>
    <td>@info.RefundMoney</td>
    <td>@info.PaySN</td>
    <td>@info.PayFriendName</td>
    <td>@info.RefundSN</td>
    <td>@info.RefundFriendName</td>
    <td>@info.ApplyTime</td>
    <td>@info.RefundTime</td>
    </tr>
  }
</tbody>
</table>
</div>
<div class="dataListEdit">
<div class="page">
    @Html.AdminPager(Model.PageModel)
</div>
</div>
}
}