@model BrnShop.Web.Admin.Models.HelpModel

@section header{
    <title>编辑帮助</title>
    <link type="text/css" rel="stylesheet" href="/administration/content/css/site.css"/>
    <script type="text/javascript" src="/administration/scripts/jquery.js"></script>
    <script type="text/javascript" src="/administration/content/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" src="/administration/content/ueditor/ueditor.all.js"></script>
    <script type="text/javascript" src="/administration/scripts/jquery.validate.js"></script>
    <script type="text/javascript" src="/administration/scripts/jquery.validate.unobtrusive.js"></script>
}

@section body{
<h1 class="rightH1">
帮助管理 &gt;&gt; 编辑帮助
<div class="right">
<a href="@Html.Raw(ViewData["referer"].ToString())" class="menuBT"><img src="/administration/content/images/goback.jpg"/>返回列表</a>
<div class="clear"></div>
</div>
<div class="clear"></div>
</h1>
@using(Html.BeginForm())
{
<div class="addTable">

<table width="100%">
  <tr>
    <td width="76px" align="right">帮助名称：</td>
    <td>@Html.TextBoxFor(x => x.HelpTitle, new { @class="input",size="45"})@Html.ValidationMessageFor(x => x.HelpTitle)</td>
    </tr>
                   <tr>
    <td align="right">帮助分类：</td>
    <td>@Html.DropDownListFor(x => x.Pid, ViewData["helpCategoryList"] as List<SelectListItem>)@Html.ValidationMessageFor(x => x.Pid)
    </td>
    </tr>

          <tr>
    <td align="right">帮助Url：</td>
    <td>@Html.TextBoxFor(x => x.Url, new { @class = "input", size = "45" })@Html.ValidationMessageFor(x => x.Url)</td>
    </tr>

          <tr>
    <td align="right">帮助内容：</td>
    <td>
         <script name="Description" id="bspEditor">@Model.Description</script>
         <script type="text/javascript">
             UE.Editor.prototype.getActionUrl = function (action) {
                 if (action == "config") {
                     return "@WorkContext.ShopConfig.UploadServer/admin/tool/upload?operation=ueconfig";
                 } else {
                     return "@WorkContext.ShopConfig.UploadServer/admin/tool/upload?operation=uploadhelpeditorimage";
                 }
             }
             UE.getEditor('bspEditor');
        </script>
    </td>
    </tr>


      <tr>
    <td align="right">排序：</td>
    <td>@Html.TextBoxFor(x => x.DisplayOrder, new { @class = "input", size = "3" })@Html.ValidationMessageFor(x => x.DisplayOrder)</td>
    </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td>
    <a href="" class="addBt" id="sumbitBut" ><img src="/administration/content/images/submit.jpg" /></a>
            <script type="text/javascript">
                $(function () {
                    $("#sumbitBut").click(function () {
                        $("form:first").submit();
                        return false;
                    })
                });
        </script>
    </td>
    </tr>
  <tr>
    <td align="right">&nbsp;</td>
    <td>&nbsp;</td>
    </tr>
</table>
</div>
}
}