@model BrnShop.Web.Admin.Models.GiftListModel
           
@section header{
    <title>赠品列表</title>
    <link type="text/css" rel="stylesheet" href="/administration/content/css/site.css"/>
    <script type="text/javascript" src="/administration/scripts/jquery.js"></script>
    <script type="text/javascript" src="/administration/scripts/showlist.js"></script>
    <link href="/administration/content/jbox/Skins/Default/jbox.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/administration/content/jbox/jquery.jBox-2.3.min.js"></script>
    <script type="text/javascript" src="/administration/scripts/selectlist.js"></script>
    <script type="text/javascript">
        /*排序*/
        var giftnumbertempvalue = 0;
        $(function () {
            $(".giftnumberinput").focus(function () {
                var giftnumberinputobj = $(this);
                giftnumberinputtempvalue = giftnumberinputobj.val();
                giftnumberinputobj.val("");
                giftnumberinputobj.attr("class", "selectedsortinput");
            });
            $(".giftnumberinput").blur(function () {
                var giftnumberinputobj = $(this);
                if (giftnumberinputobj.val() == "") {
                    giftnumberinputobj.val(giftnumberinputtempvalue)
                }
                else {
                    var reg = /^-?\d+$/;
                    if (!reg.test(giftnumberinputobj.val())) {
                        giftnumberinputobj.val(giftnumberinputtempvalue).attr("class", "selectedsortinput");
                        alert("只能输入数字！")
                        return;
                    }
                    else {
                        if (giftnumberinputtempvalue != giftnumberinputobj.val()) {
                            $.jBox.tip("正在更新...", 'loading');
                            $.get(giftnumberinputobj.attr("url") + "&number=" + giftnumberinputobj.val(), function (data, textStatus) {
                                if (data != "0") {
                                    $.jBox.tip('更新成功！', 'success');
                                } else {
                                    giftnumberinputobj.val(giftnumberinputtempvalue);
                                    $.jBox.error('更新失败，请联系管理员！', '更新失败');
                                }
                            });
                        }
                    }
                }
                giftnumberinputobj.attr("class", "unselectedsortinput");
            });
        });
    </script>
}
@section body{
    <h1 class="rightH1">
        赠品管理 &gt;&gt; 赠品列表
        <div class="right">
            <a href="@Html.Raw(ViewData["referer"].ToString())" class="menuBT">
                <img src="/administration/content/images/goback.jpg" />返回列表</a>
            <div class="clear">
            </div>
        </div>
        <div class="clear">
        </div>
    </h1>
    <div class="table_top">
    </div>
    <div class="dataList">
        <table width="100%">
            <thead>
                <tr>
                    <th width="10" align="center"></th>
                    <th width="80" align="left">
                        商品编号
                    </th>
                    <th align="left">
                        商品名称
                    </th>
                    <th width="60" align="left">
                        商城价格
                    </th>
                    <th width="100" align="center">
                        数量
                    </th>
                    <th width="72" align="left">
                        管理操作
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (ExtGiftInfo info in Model.ExtGiftList)
                {
                    <tr>
                        <td align="center"></td>
                        <td>@info.Pid</td>
                        <td>@info.Name</td>
                        <td>@info.ShopPrice</td>
                        <td align="center">
                            <input type="text" url="@Url.Action("updategiftnumber", new { pmId = Model.PmId, giftId = info.Pid })" value="@info.Number" class="giftnumberinput unselectedsortinput" />
                        </td>
                        <td>
                            <a href="#" url="@Url.Action("delgift", new { pmId = Model.PmId, giftId = info.Pid })" class = "ajaxdeleteOperate" }>[删除]</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="table_bottom">
    </div>
    @using (Html.BeginForm("addgift", "promotion"))
    {
        <div class="addTable" style="margin-left: 15px; margin-bottom: 10px; padding-top: 10px;
            border: 2px solid #dbeffa">
            <input type="hidden" id="PmId" name="PmId" value="@Model.PmId" />
            <table width="100%">
                <tbody>
                    <tr>
                        <td width="56px" align="right">
                            商品：
                        </td>
                        <td>
                            <div class="selectBt">
                                <input type="button" value="选择赠品" onclick="openProductSelectLayer(this)"/>
                                <input type="hidden" class="Pid" id="giftId" name="giftId" value="0" />
                                <input type="hidden" class="ProductName" id="ProductName" name="ProductName" value="选择赠品" />
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                            数量：
                        </td>
                        <td>
                            <input type="text" id="Number" name="Number" value="1" class = "input" size = "5"/>
                        </td>
                    </tr>
                    <tr>
                        <td align="right">
                        </td>
                        <td>
                            <input type="image" id="addGift" style="margin: 0px; padding: 0px;" src="/administration/content/images/a.jpg" />
                            <script type="text/javascript">
                                $("#addGift").click(function () {
                                    if (parseInt($("#giftId").val()) < 1) {
                                        alert("请选择商品");
                                        return false;
                                    }
                                    else if (parseInt($("#Number").val()) < 1) {
                                        alert("赠品数量必须大于0");
                                        return false;
                                    }
                                    else {
                                        $(this).parents("form").submit();
                                        return false;
                                    }
                                })
                            </script>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    }
}
