@model BrnShop.Web.Mobile.Models.OrderListModel
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>订单列表-@{@WorkContext.ShopConfig.SiteTitle}触屏版</title>
    @Html.Raw(WorkContext.ShopConfig.SEOKeyword)
    @Html.Raw(WorkContext.ShopConfig.SEODescription)
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="@{@WorkContext.CSSCDN}/mobile/themes/default/css/base.css" rel="stylesheet" type="text/css">
    <link href="@{@WorkContext.CSSCDN}/mobile/themes/default/css/ucenter.css" rel="stylesheet" type="text/css">
    <script src="@{@WorkContext.ScriptCDN}/mobile/scripts/utils.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptCDN}/mobile/scripts/common.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptCDN}/mobile/scripts/ucenter.order.js" type="text/javascript"></script>
</head>

<body>
<header>
  <div class="new-header">
    <a href="javascript:pageBack()" class="new-a-back"><span>返回</span></a>
    <h2>订单列表</h2>
    <a href="javascript:navSH()" class="new-a-brn"><span>BRN键</span></a> 
  </div>
  <div class="new-brn-tab" id="nav" style=" display:none;">
    <div class="new-tbl-type"> 
    <a href="@Url.Action("index", "home")" class="new-tbl-cell"><span class="icon">首页</span><p style="color:#6e6e6e;">首页</p></a> 
    <a href="@Url.Action("list", "category")" class="new-tbl-cell"><span class="icon2 on">分类搜索</span><p style="color:#6e6e6e;" class="on">分类搜索</p></a> 
    <a href="@Url.Action("index", "cart")" class="new-tbl-cell"><span class="icon3">购物车</span><p style="color:#6e6e6e;">购物车</p></a> 
    <a href="@Url.Action("index", "ucenter")" class="new-tbl-cell"><span class="icon4 on">个人中心</span><p style="color:#6e6e6e;" class="on">个人中心</p></a> 
    </div>
  </div>
</header>

<div class="pro" id="orderListBlock">
  @foreach (DataRow row in Model.OrderList.Rows)
  {
    OrderState orderState = (OrderState)TypeHelper.ObjectToInt(row["orderstate"]);
    List<OrderProductInfo> orderProductList = Orders.GetOrderProductList(TypeHelper.ObjectToInt(row["oid"]), Model.OrderProductList);
    <div class="proItme">
        <a href="@Url.Action("orderinfo", new RouteValueDictionary { { "oid", TypeHelper.ObjectToInt(row["oid"]) } })">
            <img src="@{@WorkContext.ImageCDN}/upload/product/show/thumb60_60/@orderProductList[0].ShowImg">
            <div class="order-msg"><p class="title">@orderProductList[0].Name</p><p class="price">¥@orderProductList[0].DiscountPrice<span></span></p><p class="order-data">@orderProductList[0].AddTime</p></div>
        </a>
        <div class="proBt">
            <a class="redBt" href="@Url.Action("orderactionlist", new RouteValueDictionary { { "oid", TypeHelper.ObjectToInt(row["oid"]) } })" id="orderActionList@{@row["oid"]}">订单跟踪</a>
            @if (orderState == OrderState.WaitPaying)
            {
            <a class="redBt" href="@Url.Action("payshow", "order", new RouteValueDictionary { { "oid", TypeHelper.ObjectToInt(row["oid"]) } })" id="payOrderBut@{@row["oid"]}">在线支付</a>
            }
            @if (orderState == OrderState.Completed && TypeHelper.ObjectToInt(row["isreview"]) == 0)
            {
            <a class="redBt" href="@Url.Action("revieworder", new RouteValueDictionary { { "oid", TypeHelper.ObjectToInt(row["oid"]) } })">订单评价</a>
            }
            @if (orderState == OrderState.WaitPaying || (orderState == OrderState.Confirming && TypeHelper.ObjectToInt(row["paymode"]) == 0))
            {
            <a class="redBt" href="javascript:cancelOrder(@row["oid"], 0)" id="cancelOrderBut@{@row["oid"]}">取消订单</a>
            }
        </div>
    </div>
  }
</div>
<div class="loading">
@if (Model.PageModel.HasNextPage)
{
<a id="loadBut" href="javascript:getOrderList('@Model.StartAddTime','@Model.EndAddTime',@Model.OrderState,orderListNextPageNumber);" class="loadMore"><span>加载更多</span></a>
<a id="lastPagePrompt" style="display:none;" href="javascript:void(0);" class="loadMore">没有了</a>
}
else
{
<a id="loadBut" style="display:none;" href="javascript:void(0);" class="loadMore"><span>加载更多</span></a>
<a id="lastPagePrompt" href="javascript:void(0);" class="loadMore">没有了</a>
}
<div id="loadPrompt" style="display:none;" class="loadAnimate"><p class="list-loading"><span></span>加载中...</p></div>
</div>


<div class="viewport">
  <footer>
    <div class="footerTop">
      @if (WorkContext.Uid < 1)
      {
      <div class="left"><a href="@Url.Action("login", "account", new RouteValueDictionary { { "returnUrl", WorkContext.Url } })">登录</a> | <a href="@Url.Action("register", "account")">注册</a></div>
      }
      else
      {
        <div class="left"><a href="@Url.Action("index", "ucenter")">@WorkContext.NickName</a> | <a href="@Url.Action("logout", "account")">退出</a></div>   
      }
      <div class="right"><a href="#top">回到顶部 </a></div>
      <div class="clear"></div>
    </div>
    <div class="footerCon"><a href="@Url.Action("index", "home")" class="hot">触屏版</a><a href="/">电脑版</a></div>
    <div class="copyright" align="center">www.brnshop.com </div>
  </footer>
</div>
@Html.Raw(WorkContext.ShopConfig.Script)
</body>
</html>
