@model BrnShop.Web.Mobile.Models.SafeUpdateModel
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>账户安全-@{@WorkContext.ShopConfig.SiteTitle}触屏版</title>
    @Html.Raw(WorkContext.ShopConfig.SEOKeyword)
    @Html.Raw(WorkContext.ShopConfig.SEODescription)
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="@{@WorkContext.CSSCDN}/mobile/themes/default/css/base.css" rel="stylesheet" type="text/css">
    <link href="@{@WorkContext.CSSCDN}/mobile/themes/default/css/ucenter.css" rel="stylesheet" type="text/css">
    <script src="@{@WorkContext.ScriptCDN}/mobile/scripts/utils.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptCDN}/mobile/scripts/common.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptCDN}/mobile/scripts/ucenter.safe.js" type="text/javascript"></script>
</head>

<body>
<header>
  <div class="new-header">
    <a href="javascript:pageBack()" class="new-a-back"><span>返回</span></a>
    <h2>账户安全</h2>
    <a href="javascript:navSH()" class="new-a-brn"><span>BRN键</span></a> 
  </div>
  <div class="new-brn-tab" id="nav" style=" display:none;">
    <div class="new-tbl-type"> 
    <a href="@Url.Action("index", "home")" class="new-tbl-cell"><span class="icon">首页</span><p style="color:#6e6e6e;">首页</p></a> 
    <a href="@Url.Action("list", "category")" class="new-tbl-cell"><span class="icon2 on">分类搜索</span><p style="color:#6e6e6e;" class="on">分类搜索</p></a> 
    <a href="@Url.Action("index", "cart")" class="new-tbl-cell"><span class="icon3">购物车</span><p style="color:#6e6e6e;">购物车</p></a> 
    <a href="@Url.Action("index", "ucenter")" class="new-tbl-cell"><span class="icon4 on">个人中心</span><p style="color:#6e6e6e;" class="on">个人中心</p></a> 
    </div>
  </div>
</header>


<div class="userForm">

<div class="userFormT">
<ul>
<li class="T1"><span class="hot">1</span></li>
<li class="Tline"><strong></strong></li>
<li class="T2"><span>2</span></li>
</ul>
</div>

<div class="userFormT" style="padding:0 20px;">
<ul>
<li style="width:96px;">身份验证</li>
<li>&nbsp;</li>
<li style="width:96px; text-align:right;">修改安全信息</li>
</ul>
</div>

<div class="userFormC">
@if (Model.Action == "updatepassword")
{
    <form name="updatePasswordForm" action="">
        <input type="hidden" name="v" value="@Model.V"/>
        <div class="con"><input type="password" name="password" class="text" placeholder="新密码" /></div>
        <div class="con"><input type="password" name="confirmPwd" class="text" placeholder="确认密码" /></div>
        <div class="con"><input type="text" name="verifyCode" class="text" style="width:92%; float:left;" placeholder="请输入图片验证码" /><img onclick="this.src='/mob/tool/verifyimage?time=' + new Date()" src="/mob/tool/verifyimage" style="width:6%; float:right; height:26px;" /><div class="clear"></div></div>
        <div class="con"><a href="javascript:updatePassword()" class="redBt formSub">提交</a></div>
    </form>
}
else if (Model.Action == "updatemobile")
{
    <form name="updateMobileForm" action="">
        <input type="hidden" name="v" value="@Model.V"/>
        <div class="con"><input type="text" name="mobile" class="text" placeholder="新手机号" /></div>
        <div class="tip"><a href="javascript:sendVerifyMobile()" class="redBt">获取短信验证码</a></div>
        <div class="con"><input type="text" name="moibleCode" class="text" placeholder="手机校验码" /></div>
        <div class="con"><input type="text" name="verifyCode" class="text" style="width:92%; float:left;" placeholder="请输入图片验证码" /><img onclick="this.src='/mob/tool/verifyimage?time=' + new Date()" src="/mob/tool/verifyimage" style="width:6%; float:right; height:26px;" /><div class="clear"></div></div>
        <div class="con"><a href="javascript:updateMobile()" class="redBt formSub">提交</a></div>
    </form>
}
else if (Model.Action == "updateemail")
{
    <form name="updateEmailForm" action="">
        <input type="hidden" name="v" value="@Model.V"/>
        <div class="con"><input type="text" name="email" class="text" placeholder="新邮箱" /></div>
        <div class="con"><input type="text" name="verifyCode" class="text" style="width:92%; float:left;" placeholder="请输入图片验证码" /><img onclick="this.src='/mob/tool/verifyimage?time=' + new Date()" src="/mob/tool/verifyimage" style="width:6%; float:right; height:26px;" /><div class="clear"></div></div>
        <div class="con"><a href="javascript:sendUpdateEmail()" class="redBt formSub">提交</a></div>
    </form>
}
</div>

</div>



<div class="viewport">
  <footer>
    <div class="footerTop">
      @if (WorkContext.Uid < 1)
      {
      <div class="left"><a href="@Url.Action("login", "account", new RouteValueDictionary { { "returnUrl", WorkContext.Url } })">登录</a> | <a href="@Url.Action("register", "account")">注册</a></div>
      }
      else
      {
        <div class="left"><a href="@Url.Action("index", "ucenter")">@WorkContext.NickName</a> | <a href="@Url.Action("logout", "account")">退出</a></div>   
      }
      <div class="right"><a href="#top">回到顶部 </a></div>
      <div class="clear"></div>
    </div>
    <div class="footerCon"><a href="@Url.Action("index", "home")" class="hot">触屏版</a><a href="/">电脑版</a></div>
    <div class="copyright" align="center">www.brnshop.com </div>
  </footer>
</div>
@Html.Raw(WorkContext.ShopConfig.Script)
</body>
</html>
