@model BrnShop.Web.Models.SafeUpdateModel
@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>账户安全-@{@WorkContext.ShopConfig.SiteTitle}</title>
    @Html.Raw(WorkContext.ShopConfig.SEOKeyword)
    <link href="@{@WorkContext.CSSCDN}/themes/default/css/base.css" rel="stylesheet" type="text/css" />
    <link href="@{@WorkContext.CSSCDN}/themes/default/css/ucenter.css" rel="stylesheet" type="text/css" />
    <script src="@{@WorkContext.ScriptCDN}/scripts/utils.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptCDN}/scripts/common.js" type="text/javascript"></script>
    <script src="@{@WorkContext.ScriptCDN}/scripts/ucenter.safe.js" type="text/javascript"></script>
    <script type="text/javascript">
        uid = @WorkContext.Uid;
        isGuestSC = @WorkContext.ShopConfig.IsGuestSC;
        scSubmitType = @WorkContext.ShopConfig.SCSubmitType;
    </script>
</head>

<body>

<div id="headerBar" class="bigBox">
<div class="box">
欢迎访问 @WorkContext.ShopConfig.ShopName
<div  class="headerLink">
    @if (WorkContext.Uid < 1)
    {
        <a href="@Url.Action("login", "account", new RouteValueDictionary { { "returnUrl", WorkContext.Url } })">[登录]</a>
        <a href="@Url.Action("register", "account")" class="A_b">[注册]</a>
    }
    else
    {
        @:您好: @WorkContext.NickName
        <a href="@Url.Action("logout", "account")">[退出]</a>
        if (WorkContext.AdminGid > 1)
        {
        <a href="@Url.Action("index", "home", new RouteValueDictionary { { "area", "admin" } })">[商城管理]</a>
        }
        <a href="@Url.Action("orderlist", "ucenter")">[我的订单]</a>
    }
</div>
</div> 
</div>


<div id="header" class="bigBox">
<div class="box" id="header1">
<a href="/" class="logo left"><img src="@{@WorkContext.ImageCDN}/themes/default/images/logo.jpg" /></a>
<div class="search left">
<div class="searchCon">
    <input type="text" id="keyword" name="keyword" class="Stext" autocomplete="off" onkeydown="javascript:if(event.keyCode==13) search(document.getElementById('keyword').value);" value="@WorkContext.SearchWord" />
    <input name="" type="button" value="搜索" class="Sbutton" onclick="search(document.getElementById('keyword').value)" />
<div class="clear"></div>
</div>

<div class="searchHot">热门搜索：
 @{
     List<AdvertInfo> searchWordAdvertList = Adverts.GetAdvertList(5);
     }
     @Html.Raw(searchWordAdvertList[0].Body)
 </div>

</div>


<div class="shopping right" onmousemove="getCartSnap()" id="cartSnapBox" onmouseout="closeCartSnap(event)">
<h2><a href="@Url.Action("index", "cart")">我的购物车<b id="cartSnapProudctCount">@WorkContext.CartProductCount</b></a></h2>
<div id="cartSnap" class="shoppingList" style=" display:none;"><div class="loding"><img src="@{@WorkContext.ImageCDN}/themes/default/images/loading.gif" /><br />加载中，请稍候... </div></div>
</div>

<div class="clear"></div>
</div>
</div>

<div id="nav" class="bigBox">
<div class="box">
<!-- 分类导航 -->

<div id="categorys" onmouseover="document.getElementById('categorysCon').className=''" onmouseout="document.getElementById('categorysCon').className='hide'">
<h2>全部商品分类</h2>

<div id="categorysCon" class="hide">

@{
    List<NavInfo> navList = Navs.GetNavList();
    }
@{
    int layerFlag = 0;
    foreach (NavInfo info in navList)
    {
        if (info.Layer == 1)
        {
            if (layerFlag == 1)
            {
               @:</div></div>
            }
            @:<div class="item" onmouseover="this.className='item hotItem'" onmouseout="this.className='item'"><h3><a href="javascript:void(0)">@info.Name</a></h3><div class="itmeSon">
            layerFlag = 1;
        }
        else if (info.Layer == 2)
        {
            @:<dl><dt><a style="" href="javascript:void(0)">@info.Name</a></dt><dd>
            foreach (NavInfo nav in navList.FindAll(x => x.Pid == info.Id))
            {
                 @:<em><a style="" href="@nav.Url">@nav.Name</a></em>
            }
            @:</dd><div class="clear"></div></dl>
        }
    }
    @:</div></div>
}

</div>

</div>

<!-- 分类导航结束 -->

<ul id="navItme">
<li><a href="/">首页</a></li>
<li><a href="@Url.Action("category", "catalog", new RouteValueDictionary { { "cateId", 55 } })">电视专场</a></li>
<li><a href="@Url.Action("category", "catalog", new RouteValueDictionary { { "cateId", 65 } })">电脑专场</a></li>
<li><a href="@Url.Action("category", "catalog", new RouteValueDictionary { { "cateId", 71 } })">手机专场</a></li>
</ul>
</div>
</div>

<div class="bigBox" id="member">
<div class="box">
<div id="memberL">
<h2>个人中心</h2>
<ul id="memberNav">
    <li><a href="@Url.Action("userinfo")"><s>&gt;</s>账户信息</a></li>
    <li><a href="@Url.Action("safeinfo")" class="hot"><s>&gt;</s>账户安全</a></li>
    <li><a href="@Url.Action("orderlist")"><s>&gt;</s>我的订单</a></li>
    <li><a href="@Url.Action("shipaddresslist")"><s>&gt;</s>收货地址</a></li>
    <li><a href="@Url.Action("favoriteproductlist")"><s>&gt;</s>收藏商品</a></li>
    <li><a href="@Url.Action("paycreditloglist")"><s>&gt;</s>我的@{@WorkContext.PayCreditName}</a></li>
    <li><a href="@Url.Action("couponlist")"><s>&gt;</s>优惠劵</a></li>
    <li><a href="@Url.Action("productconsultlist")"><s>&gt;</s>购买咨询</a></li>
    <li><a href="@Url.Action("productreviewlist")"><s>&gt;</s>商品评价</a></li>
</ul>

</div>
<div id="memberR">
<h2 id="memberRT">修改信息</h2>

<div class="step">
<ul>
    <li><s>1</s>验证身份</li>
    <li class="hot"><s>2</s>修改信息</li>
    <li><s>3</s>完成</li>
    <div class="clear"></div>
</ul>
</div>

<div class="safeYZ">

        @if (Model.Action == "updatepassword")
        {
          <form name="updatePasswordForm" action="">
            <input type="hidden" name="v" value="@Model.V"/>
            <table width="600" border="0" cellpadding="0" cellspacing="0" class="memberTable">
              <tr>
                <th height="50" align="right">新密码：<br /></th>
                <td><input type="password" name="password" class="text left" maxlength="15" style="width:180px;" /></td>
              </tr>
              <tr>
                <th height="50" align="right">确认密码：<br /></th>
                <td><input type="password" name="confirmPwd" class="text left" maxlength="15" style="width:180px;" /></td>
              </tr>
              <tr>
                <th height="50" align="right">验证码：</th>
                <td><input type="text" name="verifyCode" value="" class="text left" maxlength="15" style="width:180px;" /><img onclick="this.src='/tool/verifyimage?time=' + new Date()" src="/tool/verifyimage" alt="验证码" style="cursor:pointer;width:100px; margin-left:10px;height:32px; float:left;"></td>
              </tr>
              <tr>
                <th align="right">&nbsp;</th>
                <td><a href="javascript:updatePassword()" class="greenBT" style="font-size:14px; padding:3px 20px;">提交</a></td>
              </tr>
            </table>
         </form>
        }
        else if (Model.Action == "updatemobile")
        {
            <form name="updateMobileForm" action="">
                <input type="hidden" name="v" value="@Model.V"/>
                <table width="600" border="0" cellpadding="0" cellspacing="0" class="memberTable">
                  <tr>
                    <th height="50" align="right">新手机号：<br /></th>
                    <td><input type="text" name="mobile" value="" class="text left" maxlength="15" style="width:180px;" /></td>
                  </tr>
                  <tr>
                    <th height="50" align="right">手机校验码：<br /></th>
                    <td><input type="text" name="moibleCode" value="" class="text left" maxlength="15" style="width:180px;" /><a href="javascript:sendVerifyMobile()" class="grayBT left" style="height:30px; line-height:30px; margin-left:10px; padding:0 15px;">获取短信校验码</a></td>
                  </tr>
                   @*
                  <tr>
                  <td>&nbsp;</td>
                  <td>校验码已发出，请注意查收短信，如果没有收到，你可以在56秒要求系统重新发送</td>
                  </tr>
                    *@
                  <tr>
                    <th height="50" align="right">验证码：</th>
                    <td><input type="text" name="verifyCode" value="" class="text left" maxlength="15" style="width:180px;" /><img onclick="this.src='/tool/verifyimage?time=' + new Date()" src="/tool/verifyimage" alt="验证码" style="cursor:pointer;width:100px; margin-left:10px;height:32px; float:left;">@*<a href="#" style=" float:left;line-height:32px; margin-left:10px;">看不清？换一张</a>*@</td>
                  </tr>
                  <tr>
                    <th align="right">&nbsp;</th>
                    <td><a href="javascript:updateMobile()" class="greenBT" style="font-size:14px; padding:3px 20px;">提交</a></td>
                  </tr>
                </table>
            </form>
        }
        else if (Model.Action == "updateemail")
        {
           <form name="updateEmailForm" action="">
                <input type="hidden" name="v" value="@Model.V"/>
                <table width="600" border="0" cellpadding="0" cellspacing="0" class="memberTable">
                  <tr>
                    <th height="50" align="right">新邮箱：<br /></th>
                    <td><input type="text" name="email" value="" class="text left" maxlength="15" style="width:180px;" /></td>
                  </tr>
                  <tr>
                    <th height="50" align="right">验证码：</th>
                    <td><input type="text" name="verifyCode" value="" class="text left" maxlength="15" style="width:180px;" /><img onclick="this.src='/tool/verifyimage?time=' + new Date()" src="/tool/verifyimage" alt="验证码" style="cursor:pointer;width:100px; margin-left:10px;height:32px; float:left;">@*<a href="#" style=" float:left;line-height:32px; margin-left:10px;">看不清？换一张</a>*@</td>
                  </tr>
                  <tr>
                    <th align="right">&nbsp;</th>
                    <td><a href="javascript:sendUpdateEmail()" class="greenBT" style="font-size:14px; padding:3px 20px;">提交</a></td>
                  </tr>
                </table>
            </form>
        }

</div>

</div>

<div class="clear"></div>
</div>
<div class="clear"></div>
</div>


<div id="footer" class="bigBox">
  <div class="box">

    @{
        int flag = 1;
        foreach (HelpInfo info in WorkContext.HelpList)
        {
            if (info.Pid != 0)
            {
                if (info.Url.Length == 0)
                {
            <a href="@Url.Action("question", "help", new RouteValueDictionary { { "id", info.Id } })">@info.Title</a>
                }
                else
                {
            <a href="@info.Url">@info.Title</a>
                }
            }
            else
            {
                if (flag != 1)
                {
                @:</div>
            }
            @:<div class="footerBox"><h3>@info.Title</h3>
            flag++;
            }
        }
        if (WorkContext.HelpList.Count > 0)
        {
        @:</div>
    }
    }

  <div class="clear"></div>
  </div>
  <div class="bigBox footerB">
    <div id="footerB">
      <div class="links">
        @foreach (FriendLinkInfo info in WorkContext.FriendLinkList)
        {
        <a href="@info.Url" target="@info.Target" title="@info.Title">@info.Name</a> @:|
        }
      </div>
      <div>北京市公安局朝阳分局备案编号031143485246&nbsp;&nbsp;|&nbsp;&nbsp;京ICP证047722号&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" target="_blank">互联网药品信息服务资格证编号(京)-经营性-2012-0005</a>&nbsp;&nbsp;|&nbsp;&nbsp;新出发京零&nbsp;字第大145218号<br />石家庄蝶影软件开发有限公司 程序版本 @WorkContext.ShopVersion 版权所有 @WorkContext.ShopCopyright</div>
      <div><a href="#"><img width="108" height="40" src="@{@WorkContext.ImageCDN}/themes/default/images/power_jy.gif"></a> <a href="#"><img width="108" height="40" src="@{@WorkContext.ImageCDN}/themes/default/images/power_kx.gif"></a> <a href="#"><img width="108" height="40" src="@{@WorkContext.ImageCDN}/themes/default/images/power_wj.png"></a> <a href="#"><img width="112" height="40" src="@{@WorkContext.ImageCDN}/themes/default/images/power_cx.png"></a></div>
    </div>
  </div>
</div>
@Html.Raw(WorkContext.ExecuteDetail)
@Html.Raw(WorkContext.ShopConfig.Script)
</body>
</html>